.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 20px 10px;
}

.picolo-wrapper {
  flex-direction: column;
  margin-bottom: 20px !important;
}

.name-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*margin: 10px 0 !important;*/
  min-height: 40px;
}

.name-list-wrapper {
  margin-bottom: 20px !important;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-button-wrapper {
  display: flex;
  justify-content: center;
}

.input-button-wrapper .input {
  width: 80%;
  height: 50px;
  font-size: 16px;
  border: 1px grey solid;
  border-radius: 5px;
  padding: 0 10px;
}

.error-messages-wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
}

.submit-button {
  width: 56px;
  height: 56px;
  background-color: #3685F0;
  color: white;
  font-size: 16px;
  border: 0.5px #3685F0 solid;
  border-radius: 50%;
  margin-left: 5px;
}

.start-button-wrapper {
  align-items: center;
  justify-content: center;
  margin-top: 30px !important;
  flex-direction: column;
  width: 100%;
}

.start-button-wrapper h4.ant-typography {
  margin: 10px 0;
}

.start-button {
  height: 36px;
  width: 80px;
  background-color: #F9C74F;
  color: black;
  border-radius: 10px;
  border: none;
}

.start-button:disabled {
  background-color: rgba(249, 199, 79, 0.41);
  color: grey;
}

.start-button:disabled:hover {
  cursor: not-allowed;
}

.start-and-delete {
  justify-content: space-between;
  width: 50%;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 80px;
  background-color: grey;
  color: white;
  border-radius: 10px;
  border: none;
}
